@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    background: rgb(128, 165, 255);
    background: radial-gradient(circle, rgba(128, 165, 255, 1) 0%, rgba(0, 53, 255, 1) 100%);
}

body,
html {
    width: 100%;
    height: 100%;
}

#game {
    display: flex;
    width: 100%;
    height: 100%;
}

.rotate-image-container {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

#rotate__image {
    width: 60%;
    max-width: 200px;
}

canvas {
    user-select: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}